.DS_Store

venv/
.venv/
__pycache__/
.pytest_cache/
.tox/
*.egg-info/
.ruff_cache/
.coverage
.mypy_cache/
build/
dist/
coverage.xml

# A shortcut for `python -m cliff.cliff $@` for easier development
/dev
